recursive-include src *.py
recursive-include tests *.py

include .editorconfig
include .flake8
include mypy.ini

include setup.cfg
include setup.py
include MANIFEST.in
include README.rst

include pyproject.toml  # Temporary workaround for pypa/setuptools#1632.
